aws_region = "us-east-1"
project_name = "perritos-tienda"
ecr_backend_repo = "perritos-backend"
ecr_frontend_repo = "perritos-frontend"
db_username = "admin"
db_password = "your-db-password"
container_cpu = 512
container_memory = 1024
task_count_min = 1
task_count_max = 3
